*{
	box-sizing: border-box;
}

body{
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	margin: 0;
	color: rgba(0,0,0,0.8);
}



header{
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	padding: 10px;
	margin-bottom: 30px;
	background-color: rgba(0,0,0,0.04);
}

header nav{
	margin-left: auto;
}

header nav a{
	text-decoration: none;
	margin-left: 40px;
}


a{
	color: #29ABE2;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

section{
	max-width: 675px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}


h1{
	font-size: 3rem;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #29ABE2;
}

h2{
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 0.2em;
	color: #29ABE2;
}



h4{
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	width: 100%;
	border-bottom: 2px solid rgba(0,0,0,0.1);
	font-size: 1.3rem;
}

ul{
	padding-left: 0px
}

li{
	margin: 1em;
}

input{
	padding: 11px;
	background-color: rgba(0,0,0,0.2);
	color: black;
	border: none;
	float: left;
	font-size: 1rem;
}

input[type="submit"]{
	background-color: #29ABE2;
	color: white;
	cursor: pointer;
}

input[type="submit"]:hover{
	background-color: #2382AB;
}

::-webkit-input-placeholder {
   color: #333;
}

:-moz-placeholder { /* Firefox 18- */
   color: #333;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #333;  
}

:-ms-input-placeholder {  
   color: #333;  
}

.head{
	text-align: center;
}

.signup{
	border: 2px solid rgba(0,0,0,0.2);
	border-radius: 3px;
	padding: 20px;
	overflow: hidden;
}

.signup p{
	width: 50%;
	margin: 0px;
	float: left;
}

#mc_embed_signup_scroll{
	overflow: hidden;
	width: 50%;
	float: left;
}

#mc-embedded-subscribe{
	width: 30%;
	border-radius: 0px 3px 3px 0px;
}

#mce-EMAIL{
	width: 70%;
	border-radius: 3px 0px 0px 3px;
}